// Custom styles.
// 主页文章添加阴影效果
 .post {
   margin-top: 50px;
   margin-bottom: 60px;
   padding: 25px;
   -webkit-box-shadow: 0 0 5px 5px rgba(255, 203, 203, .6),
                       0 0 5px 5px rgba(202, 203, 203, .6);
   -moz-box-shadow: 0 0 5px 5px rgba(202, 203, 203, .6)
                    0 0 5px 5px rgba(202, 203, 203, .6);
  }

  $font-family-base = "Microsoft YaHei", Verdana, sans-serif
  // 修改成你期望的宽度
  $content-desktop = 800px

  // 当视窗超过 1600px 后的宽度
  $content-desktop-large = 1000px


  // 颜色块-黄
span#inline-yellow {
display:inline;
padding:.2em .6em .3em;
font-size:80%;
font-weight:bold;
line-height:1;
color:#fff;
text-align:center;
white-space:nowrap;
vertical-align:baseline;
border-radius:0;
background-color: #f0ad4e;
}
// 颜色块-绿
span#inline-green {
display:inline;
padding:.2em .6em .3em;
font-size:80%;
font-weight:bold;
line-height:1;
color:#fff;
text-align:center;
white-space:nowrap;
vertical-align:baseline;
border-radius:0;
background-color: #5cb85c;
}
// 颜色块-蓝
span#inline-blue {
display:inline;
padding:.2em .6em .3em;
font-size:80%;
font-weight:bold;
line-height:1;
color:#fff;
text-align:center;
white-space:nowrap;
vertical-align:baseline;
border-radius:0;
background-color: #2780e3;
}
// 颜色块-紫
span#inline-purple {
display:inline;
padding:.2em .6em .3em;
font-size:80%;
font-weight:bold;
line-height:1;
color:#fff;
text-align:center;
white-space:nowrap;
vertical-align:baseline;
border-radius:0;
background-color: #9954bb;
}


// Custom styles.
code {
    color: #ff7600;
    background: #fbf7f8;
    margin: 2px;
}
// 大代码块的自定义样式
.highlight, pre {
    margin: 5px 0;
    padding: 5px;
    border-radius: 3px;
}
.highlight, code, pre {
    border: 1px solid #f5dbdb;
}

.highlight .code pre {
    background-color: #f7f6f6;
}

.highlight {
  background: #f7f6f6;
}

.highlight .gutter pre {
    background-color: #f7f6f6;
}

pre, .highlight {
    border: 1px solid #f5dbdb;
    background: #f7f6f6;
}

pre{
  color: #8e908c;
}

pre code{
  color: #8e908c;
}


// Custom styles.
.site-meta {
     background: rgba(251, 251, 251, 0.71); //logo修改为自己喜欢的颜色
}

//修改logo字体
@font-face {
    font-family: 'Gotham-Medium';
    //font-family: Zitiming;
    //src: url('/fonts/Zitiming.ttf');
}
.site-title {
    font-size: 20px !important;
    font-family: 'Gotham-Medium' !important;
}

header{
    background: rgba(251, 251, 251, 0.71) !important;
}

body{
    background:url(/images/bg.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
}

.footer {
    background: rgba(251, 251, 251, 0.71);
}

.post-type-normal{
    background: rgba(251, 251, 251, 0.71) !important;
    border-radius: 20px;
}
.post-header:nth-child(2n){
    background: rgb(247, 220, 217) !important;
    border-radius: 8px;
    padding-left: 10px;
}
